@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@400;700&display=swap');

:root {
	--bs-blue: #033c73;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #e83e8c;
	--bs-red: #c71c22;
	--bs-orange: #fd7e14;
	--bs-yellow: #dd5600;
	--bs-green: #73a839;
	--bs-teal: #20c997;
	--bs-cyan: #2fa4e7;
	--bs-white: #fff;
	--bs-gray: #868e96;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #868e96;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-primary: #F70068;
	--bs-secondary: #C8FF00;
	--bs-success: #73a839;
	--bs-info: #033c73;
	--bs-warning: #dd5600;
	--bs-danger: #c71c22;
	--bs-light: #f8f9fa;
	--bs-dark: #0a2540;
	--bs-primary-rgb: 247, 0, 104;
	--bs-secondary-rgb: 200, 255, 0;
	--bs-success-rgb: 115, 168, 57;
	--bs-info-rgb: 3, 60, 115;
	--bs-warning-rgb: 221, 86, 0;
	--bs-danger-rgb: 199, 28, 34;
	--bs-light-rgb: 248, 249, 250;
	--bs-dark-rgb: 10, 37, 64;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-body-rgb: 73, 80, 87;
	--bs-font-sans-serif: 'Montserrat', sans-serif, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #495057;
	--bs-body-bg: #fff;
	--pageBgLight: #fafbfc;
	--colorText: #677294;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    font-family: 'Josefin Sans', sans-serif;
}
.bg-gray
{
	background-color: var(--bs-gray);
}
.text-gray
{
	color: var(--bs-gray) !important;
}
.text-page
{
	color: var(--colorText) !important;
}
.text-secondary {
    color: var(--bs-secondary) !important;
}

.bg-primary-glow
{
	color: white !important;
	background-color: rgb(var(--bs-primary-rgb)) !important;
	box-shadow: 0px 8px 24px 0px rgba(var(--bs-primary-rgb),0.25) !important;
}

.bg-secondary-glow
{
	color: white !important;
	background-color: rgb(var(--bs-secondary-rgb)) !important;
	box-shadow: 0px 8px 24px 0px rgba(var(--bs-secondary-rgb),0.25) !important;
}

.bg-dark-glow
{
	color: white !important;
	background-color: rgb(var(--bs-dark-rgb)) !important;
	box-shadow: 0px 8px 24px 0px rgba(0,0,255,0.25) !important;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2683b9;
    border-color: #237bad;
}
.btn-primary {
    border-radius: 8px;
	background-color: rgba(var(--bs-primary-rgb),1);
	background-image: none;
	border: none;
	box-shadow: 0px 8px 21px 0px rgba(247, 0, 104, 0.25);
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary:hover,.btn-primary:active {
    box-shadow: 0px 8px 16px 0px rgba(var(--bs-primary-rgb), 0.5) !important;
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}
  

.btn-secondary {
	border-radius: 8px;
	background-color: rgba(var(--bs-secondary-rgb),1);
	box-shadow: 0px 8px 16px 0px rgba(200, 255, 0, 0.25);
	background-image: none;
	border-color: var(--bs-secondary);
	font-size: 16px;
	color: rgba(var(--bs-dark),var(--bs-text-opacity));
	padding: 15px;
    padding-left: 20px;
    padding-right: 20px;

	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
  }

  .btn-secondary:hover,.btn-secondary:active {
    box-shadow: 0px 8px 16px 0px rgba(var(--bs-secondary-rgb), 0.5) !important;
	background-color: var(--bs-secondary);
	border-color: var(--bs-secondary);
}
  
.btn-outline-secondary {
	border-width: 2px;
	border-color: var(--bs-secondary);
	color: var(--bs-secondary);
	border-style: solid;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(200, 255, 0, 0.25);
	font-size: 16px;
	padding: 15px;
    padding-left: 20px;
    padding-right: 20px;

	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	
  }
  
  .btn-outline-secondary:hover,.btn-outline-secondary:active {
    box-shadow: 0px 8px 16px 0px rgba(200, 255, 0, 0.5) !important;
	background-color: var(--bs-secondary);
	border-color: var(--bs-secondary);
}



/***************************************************************************/
/***************************************************************************/
.pageBgLight
{
	background-color: var(--pageBgLight);
}
.pageBgDark
{
	background-color: var(--bs-dark);
}
.backgroundHome
{
	background-image: url(../img/homeBackground.jpg);
	background-position: center bottom;
	background-size: cover;

	min-height: 820px;
}

.listNumber1 {
	list-style: none;
	counter-reset: my-awesome-counter;
	margin: 0;
	padding: 0;
  }
  .listNumber1 li {
	counter-increment: my-awesome-counter;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	font-size: 14px;
	color: var(--bs-primary);
  }
  .listNumber1 li::before {
	content: counter(my-awesome-counter);
	color: var(--bs-primary);
	font-weight: bold;
	border: solid 1px var(--bs-primary);
	font-size: 14px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
	display: inline-block;
	padding: 5px;
	line-height: 12px;
	margin-right: 5px;
    margin-bottom: 20px;
	margin-top: 20px;
  }
  	.grayLine{
		  position: relative;
		  overflow: hidden;
	}
  .grayLine::before,.grayLine::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background: var(--bs-gray);
    top: 50%;
    width: 400px;
	}
	.grayLine:before {
    right: 0;
    margin-right: 20px;
	}
	.grayLine:after {
    left: 0;
    margin-left: 20px;
	}
  .loopHomeAnimation
  {
	animation: loopHome 5s ease-in-out 0s infinite alternate-reverse both;
  }
  @keyframes loopHome {
	0% {
	  transform: translateY(-15px);
	}
  
	100% {
	  transform: translateY(15px);
	}
  }
  .list-group-item-logos {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
	max-width: 300px;
	width: 100%;
}

.floatingImageLeft
{
	position: absolute;
	width: 50%;
	height: 100%;
	background-image: url(../img/woman.jpg);
	background-position: center center;
	background-size: cover;

	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.floatingImageInside
{
	position: absolute;
    right: 0;
    bottom: -150px;
    width: 50%;
    height: auto;
	min-width: 400px;
}

.speechBalloon
{
	position: absolute;
	width: 70%;
	right: 0;
	height: 254px;	
	z-index: 2;


	-webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;

	background: rgb(241,244,255);
	background: -moz-linear-gradient(90deg, rgba(241,244,255,1) 60%, rgba(241,244,255,0) 100%);
	background: -webkit-linear-gradient(90deg, rgba(241,244,255,1) 60%, rgba(241,244,255,0) 100%);
	background: linear-gradient(90deg, rgba(241,244,255,1) 60%, rgba(241,244,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f4ff",endColorstr="#f1f4ff",GradientType=1);

	box-shadow: 10px 10px 46px -1px rgba(58,83,125,0.51);
	-webkit-box-shadow: 10px 10px 46px -1px rgba(58,83,125,0.51);
	-moz-box-shadow: 10px 10px 46px -1px rgba(58,83,125,0.51);

}
.speechBalloon2
{
	position: absolute;
	width: 70%;
	left: 0;
	height: 254px;	
	z-index: 2;


	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;

	background: rgb(241,244,255);
	background: -moz-linear-gradient(-90deg, rgba(241,244,255,1) 60%, rgba(241,244,255,0) 100%);
	background: -webkit-linear-gradient(-90deg, rgba(241,244,255,1) 60%, rgba(241,244,255,0) 100%);
	background: linear-gradient(-90deg, rgba(241,244,255,1) 60%, rgba(241,244,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f4ff",endColorstr="#f1f4ff",GradientType=1);

	box-shadow: 10px 10px 46px -1px rgba(58,83,125,0.51);
	-webkit-box-shadow: 10px 10px 46px -1px rgba(58,83,125,0.51);
	-moz-box-shadow: 10px 10px 46px -1px rgba(58,83,125,0.51);
}

.testimonialIcon
{
	margin-left: -50px;
    margin-top: -50px;

	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
	left: 0;
    top: 50%;
	position: absolute;
}
.testimonialIcon2 {
    margin-right: -50px;
    margin-top: -50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    top: 50%;
    position: absolute;
}

.section5
{
	background-image: url(../img/bg2.png);
	background-position: center bottom;
	background-size: 100% 100%;
	background-color: var(--bs-dark);

	min-height: 820px;
}

.listNumber2 {
	list-style: none;
	counter-reset: my-awesome-counter;
	margin: 0;
	padding: 0;
  }
  .listNumber2 li {
	counter-increment: my-awesome-counter;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: white;
    width: 49%;
	vertical-align: top;
	line-height: 0;
  }
  .listNumber2 li::before {
	content: counter(my-awesome-counter);
	color: white;
	background-color: var(--bs-primary);
	font-weight: bold;
	font-size: 14px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
	display: inline-block;
	padding: 5px;
	line-height: 12px;
	margin-right: 5px;
    margin-bottom: 20px;
	margin-top: 20px;
	
  }

  .floatingImageRight {
    position: absolute;
    width: 80%;
	bottom: 0;
	right: 0;
	text-align: right;
    z-index: 2;
}

.containerCards
{
	margin-bottom: 80px;
	text-align: center;
}
.containerCards .card
{
	height: 180px;
	width: 100%;
	max-width: 350px;
	border-radius: 20px;
	border:none;

	box-shadow: 10px 10px 50px 0px rgba(0,0,255,0.1);
	-webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,255,0.1);
	-moz-box-shadow: 10px 10px 50px 0px rgba(0,0,255,0.1);

}
.containerCards .card h3, .containerCards .card h4
{
	font-family: var(--bs-font-sans-serif);
	font-weight: bold;
}

.iconCards {
	border-radius: 40px;
	background-color:gray;
	width: 80px;
	height: 80px;
	
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

	color: white;
	font-size: 30px;
  }
.section6
{
	background-color: #f0f4ff;
}

.section8
{
	background-image: url(../img/bg3.png);
	background-position: center top;
	background-size: 100% 100%;
	background-color: var(--bs-dark);
}

.cardComparison
{
	box-shadow: 12.287px -8.604px 106px 0px rgba(0, 81, 162, 0.25);
	border-radius: 0;
}

.cardComparisonLeft
{
	border-radius: 20px;
	overflow: hidden !important;
}

.cardComparisonRight
{
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

/***************************************************************************/
/***************************************************************************/
@media only screen and (max-width:1400px){
	.speechBalloon,.speechBalloon2
	{
		width: 85%;		
	}
	.floatingImageRight {
		width: 55%;
	}
}

@media only screen and (max-width:1200px){
	
}
@media only screen and (max-width:1024px){

	.textResponsive-16
	{
		font-size: 18px !important;
	}

	.textResponsive-14
	{
		font-size: 14px !important;
	}

}
@media only screen and (max-width:991px){
	.floatingImageLeft
	{
		position: relative;
		height: auto;
		width: 100%;
		min-height: 350px;

	}
	.floatingImageInside {
		position: absolute;
		right: 0;
		top: 10%;
		width: 50%;
		height: auto;
		min-width: 250px;
		max-width: 300px;
	}
	.floatingImageRight {
		width: 65%;
	}
	.speechBalloon {
		width: 80%;
		right: 10%;
		border-radius: 50px;
		background: none;
		background-color: rgb(241,244,255);
	}
	.speechBalloon2 {
		width: 80%;
		left: 10%;
		border-radius: 50px;
		background: none;
		background-color: rgb(241,244,255);
	}
	.testimonialPhoto{
		margin-top: 0;
		width: 50%;
		max-width: 250px;
	}
	.testimonialIcon {
		margin-left: initial;
		margin-top: initial;
		left: initial;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 15%;
		top: -10px;
		position: absolute;
		width: 15%;
		z-index: 1;
	}
	.testimonialIcon2 {
		margin-left: initial;
		margin-top: initial;
		right: initial;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 15%;
		top: -10px;
		position: absolute;
		width: 15%;
		z-index: 1;
	}
	.iconCards
	{
		margin-bottom: 10px;
		width: 50px;
		height: 50px;
		font-size: 16px;
	}

	

	
}
@media only screen and (max-width:750px){
	.backgroundHome
	{
		padding-top:100px;
	}
	.floatingImageRight {
		width: 70%;
	}

	.containerCards .card h3, .containerCards .card h4
	{
		font-size: 14px;
		text-align: center !important;
	}
	.containerCards
	{
		margin-bottom: -20px;
	}

		
}

@media only screen and (max-width:600px){
	.floatingImageRight {
		width: 100%;
	}
	.cardComparison .card-body
	{
		height: 250px;
		overflow: auto;
	}
}
@media only screen and (max-width:480px){
	.grayLine
	{
		display: none;
	}

}
@media only screen and (max-width:320px){

}
@media only screen and (max-width:240px){

}
