@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@400;700&display=swap');

:root {
	--bs-blue: #033c73;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #e83e8c;
	--bs-red: #c71c22;
	--bs-orange: #fd7e14;
	--bs-yellow: #dd5600;
	--bs-green: #73a839;
	--bs-teal: #20c997;
	--bs-cyan: #2fa4e7;
	--bs-white: #fff;
	--bs-gray: #868e96;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #868e96;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-primary: #F70068;
	--bs-secondary: #C8FF00;
	--bs-success: #73a839;
	--bs-info: #033c73;
	--bs-warning: #dd5600;
	--bs-danger: #c71c22;
	--bs-light: #f8f9fa;
	--bs-dark: #0a2540;
	--bs-primary-rgb: 247, 0, 104;
	--bs-secondary-rgb: 200, 255, 0;
	--bs-success-rgb: 115, 168, 57;
	--bs-info-rgb: 3, 60, 115;
	--bs-warning-rgb: 221, 86, 0;
	--bs-danger-rgb: 199, 28, 34;
	--bs-light-rgb: 248, 249, 250;
	--bs-dark-rgb: 10, 37, 64;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-body-rgb: 73, 80, 87;
	--bs-font-sans-serif: 'Montserrat', sans-serif, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #495057;
	--bs-body-bg: #fff;
	--pageBgLight: #fafbfc;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    font-family: 'Josefin Sans', sans-serif;
}
.bg-gray
{
	background-color: var(--bs-gray);
}
.text-gray
{
	color: var(--bs-gray) !important;
}
.text-secondary {
    color: var(--bs-secondary) !important;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2683b9;
    border-color: #237bad;
}
.btn-primary {
    border-radius: 8px;
	background-color: rgba(var(--bs-primary-rgb),1);
	background-image: none;
	border: none;
	box-shadow: 0px 8px 21px 0px rgba(247, 0, 104, 0.25);
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary:hover,.btn-primary:active {
    box-shadow: 0px 8px 16px 0px rgba(var(--bs-primary-rgb), 0.5) !important;
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}
  

.btn-secondary {
	border-radius: 8px;
	background-color: rgba(var(--bs-secondary-rgb),1);
	box-shadow: 0px 8px 16px 0px rgba(200, 255, 0, 0.25);
	background-image: none;
	border-color: var(--bs-secondary);
	font-size: 16px;
	color: rgba(var(--bs-dark),var(--bs-text-opacity));
	padding: 15px;
    padding-left: 20px;
    padding-right: 20px;

	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
  }

  .btn-secondary:hover,.btn-secondary:active {
    box-shadow: 0px 8px 16px 0px rgba(var(--bs-secondary-rgb), 0.5) !important;
	background-color: var(--bs-secondary);
	border-color: var(--bs-secondary);
}
  
.btn-outline-secondary {
	border-width: 2px;
	border-color: var(--bs-secondary);
	color: var(--bs-secondary);
	border-style: solid;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(200, 255, 0, 0.25);
	font-size: 16px;
	padding: 15px;
    padding-left: 20px;
    padding-right: 20px;

	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	
  }
  
  .btn-outline-secondary:hover,.btn-outline-secondary:active {
    box-shadow: 0px 8px 16px 0px rgba(200, 255, 0, 0.5) !important;
	background-color: var(--bs-secondary);
	border-color: var(--bs-secondary);
}



/***************************************************************************/
/***************************************************************************/
.pageBgLight
{
	background-color: var(--pageBgLight);
}
.pageBgDark
{
	background-color: var(--bs-dark);
}
.backgroundHome
{
	background-image: url(../img/homeBackground.jpg);
	background-position: center bottom;
	background-size: cover;

	min-height: 820px;
}

ol {
	list-style: none;
	counter-reset: my-awesome-counter;
	margin: 0;
	padding: 0;
  }
  ol li {
	counter-increment: my-awesome-counter;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	font-size: 14px;
	color: var(--bs-primary);
  }
  ol li::before {
	content: counter(my-awesome-counter);
	color: var(--bs-primary);
	font-weight: bold;
	border: solid 1px var(--bs-primary);
	font-size: 14px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
	display: inline-block;
	padding: 5px;
	line-height: 12px;
	margin-right: 5px;
    margin-bottom: 20px;
	margin-top: 20px;
  }
  	.grayLine{
		  position: relative;
		  overflow: hidden;
	}
  .grayLine::before,.grayLine::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background: var(--bs-gray);
    top: 50%;
    width: 400px;
	}
	.grayLine:before {
    right: 0;
    margin-right: 20px;
	}
	.grayLine:after {
    left: 0;
    margin-left: 20px;
	}
  .loopHomeAnimation
  {
	animation: loopHome 5s ease-in-out 0s infinite alternate-reverse both;
  }
  @keyframes loopHome {
	0% {
	  transform: translateY(-15px);
	}
  
	100% {
	  transform: translateY(15px);
	}
  }
  .list-group-item-logos {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
	min-width: 300px;
}

.floatingImage
{
	position: absolute;
	width: 50%;
	height: 100%;
	background-image: url(../img/woman.jpg);
	background-position: center center;
	background-size: cover;

	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.floatingImageInside
{
	position: absolute;
    right: 0;
    bottom: -150px;
    width: 50%;
    height: auto;
	min-width: 400px;
}

.speechBalloon
{
	position: absolute;
	width: 70%;
	right: 0;
	height: 254px;	
	z-index: 2;


	-webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;

	background: rgb(241,244,255);
	background: -moz-linear-gradient(90deg, rgba(241,244,255,1) 60%, rgba(241,244,255,0) 100%);
	background: -webkit-linear-gradient(90deg, rgba(241,244,255,1) 60%, rgba(241,244,255,0) 100%);
	background: linear-gradient(90deg, rgba(241,244,255,1) 60%, rgba(241,244,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1f4ff",endColorstr="#f1f4ff",GradientType=1);

}

  
/***************************************************************************/
/***************************************************************************/
@media only screen and (max-width:1400px){
	.speechBalloon
	{
		width: 85%;		
	}
}

@media only screen and (max-width:1200px){

}
@media only screen and (max-width:1024px){

}
@media only screen and (max-width:991px){
	.floatingImage
	{
		position: relative;
		height: auto;
		width: 100%;
		min-height: 350px;

	}
	.floatingImageInside {
		position: absolute;
		right: 0;
		top: 10%;
		width: 50%;
		height: auto;
		min-width: 250px;
		max-width: 300px;
	}
	.speechBalloon {
		width: 80%;
		right: 10%;
		border-radius: 50px;
		background: none;
		background-color: rgb(241,244,255);
	}
	.testimonialPhoto{
		margin-top: 0;
		width: 50%;
		max-width: 250px;
	}
}
@media only screen and (max-width:750px){
	.backgroundHome
	{
		padding-top:100px;
	}

	
}

@media only screen and (max-width:600px){

}
@media only screen and (max-width:480px){

}
@media only screen and (max-width:320px){

}
@media only screen and (max-width:240px){

}
